
name: Run all mabl tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  mabl-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install mabl CLI
        uses: mablhq/setup-mabl-cli@v1

      - name: Run mabl tests for all environments
        run: |
             mabl deployments create \
               --api-key "${{ secrets.API_KEY }}" \
               --application-id "Oonui6hTcPcWFf7v4y4exA-a" \
               --environment-id "JOHGzivFdBgSLdoq2kCagA-e" \
               --await-completion
